@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%    );
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 10px;
}
main{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.container{
    padding: 25px;
    background-color: hsl(31, 77%, 52%);
}
h2{
    font-size: 30px;
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    padding: 20px 0;
}
p{
    color: hsla(0, 0%, 100%,.5);
    line-height: 25px;
    max-width: 200px;
    padding: 0 0 60px 0 ;
}
button {
    background-color:  hsla(0, 0%, 100%);
    color: hsl(31, 77%, 52%);
    padding: 10px 20px;
    border-radius: 50px;
    border:2px solid hsla(0, 0%, 100%, 0);
    cursor: pointer;
}
button:hover{
    background: 0;
    color: hsla(0, 0%, 100%);
    border:2px solid hsla(0, 0%, 100%)
}
.s2 {
    background-color: hsl(184, 100%, 22%);
}
.s2 button {
    color: hsl(179, 100%, 13%);
}
.s2 button:hover{
    color: hsla(0, 0%, 100%);
}
.s3 {
    background-color: hsl(179, 100%, 13%);
}
.s3 button {
    
    color: hsl(179, 100%, 13%);
}
.s3 button:hover{
    color: hsla(0, 0%, 100%);
}

@media (max-width:720px) {
    main{
        flex-direction: column;
    }
    header img {
        width: 50px;
    }
}
